.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la altura del ion-content */
  text-align: center; /* Opcional: centra el texto */
  flex-direction: column; /* Asegura que los elementos estén en columna */
}
