<ion-tabs *ngIf="vehicles.length > 0; else noVehicles">
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let vehicle of vehicles" [tab]="'vehicle/' + vehicle.id">
      <ion-icon [name]="getVehicleIcon(vehicle.type)" aria-hidden="true"></ion-icon>
      <ion-label>{{ vehicle.name }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ng-template #noVehicles>
  <ion-content>
    <div class="no-vehicles">
      <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      <p>No hay vehículos registrados.</p>
    </div>
  </ion-content>
</ng-template>
